# Teszt jegyzőkönyv

# Projekt adatai:
- Projektnév: Restaurant Manager Web application

# Tesztelő adatai:
- Név: Bozsik István
- Beosztás: Junior programozó

| Tesztkód | Tesztelt funkció 	     | Teszteset leírása                                                                                                                                                              | Státusz     | Hiba oka                    		| időpont           |
|----------|-------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------|---------------------------------|-------------------|
| T01      | Backend          	     | A keresés funkció a Products oldalon megfelelően működik 'ProdID'-ra történő keresés esetén.                                                                                   | Sikeres     | -                           		| 2021.05.17. 20:29 |
| T02      | Backend          	     | A keresés funkció a Products oldalon megfelelően működik 'ProductName' szerinti keresés esetén. 															                                                  | Sikeres     | - 					      		          | 2021.05.17. 20:35 |
| T03      | Backend          	     | A Cant find product in warehouse by ID funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:14 |
| T04      | Backend          	     | A Get summary by search funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:17 |
| T05      | Backend          	     | A Get order by ID with status code funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:20 |
| T06      | Backend          	     | Az Update order funkció megfelelően működik. A funkcó tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:22 |
| T07      | Backend          	     | Az Order loads funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:25 |
| T08      | Backend          	     | Az Update product from warehouse funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:27 |
| T09      | Backend          	     | A Cant delete summary funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:31 |
| T10      | Backend          	     | A List order funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:33 |
| T11      | Backend          	     | A List product from warehouse funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:36 |
| T12      | Backend          	     | A Get product from warehouse by ID funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:39 |
| T13      | Backend          	     | Az Orders loads funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:42 |
| T14      | Backend          	     | Az Food loads funkció megfelelően működik. A funkció tesztelése unit teszttel történt. 															                                                  | Sikeres     | - 					      		          | 2021.05.18. 08:45 |
