# Teszt jegyzőkönyv

# Projekt adatai:
- Projektnév: Restaurant Manager Web application

# Tesztelő adatai:
- Név: Bozsik István
- Beosztás: Junior programozó

| Tesztkód | Tesztelt funkció 	     | Teszteset leírása                                                                                                                                                              | Státusz     | Hiba oka                    		| időpont           |
|----------|-------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------|---------------------------------|-------------------|
| T01      | Backend          	     | A keresés funkció a Products oldalon megfelelően működik 'ProdID'-ra történő keresés esetén.                                                                                   | Sikeres     | -                           		| 2021.05.17. 20:29 |
| T02      | Backend          	     | A keresés funkció a Products oldalon megfelelően működik 'ProductName' szerinti keresés esetén. 															                                                  | Sikeres     | - 					      		          | 2021.05.17. 20:35 |
