# Teszt jegyzőkönyv

# Projekt adatai:
- Projektnév: Restaurant Manager Web application

# Tesztelő adatai:
- Név: Szabó Gergely Gyula
- Beosztás: Junior programozó

<b>Postman segítségével teszteltem.</b>

| Tesztkód | Tesztelt funkció 	     | Teszteset leírása     | Státusz     | Hiba oka                        | időpont           |
|----------|-------------------------|-----------------------|-------------|---------------------------------|-------------------|
| T01      | Backend CRUD   	     | Order list funkció    | Sikeres     | -                               | 2021.03.28. 20:29 |
| T02      | Backend CRUD   	     | Order getById funkció    | Sikeres     | -                               | 2021.03.28. 20:30 |
| T03      | Backend CRUD   	     | Order create funkció    | Sikeres     | -                               | 2021.03.28. 20:31 |
| T04      | Backend CRUD   	     | Order delete funkció    | Sikeres     | -                               | 2021.03.28. 20:32 |
| T05      | Backend CRUD   	     | Order update funkció    | Sikeres     | -                               | 2021.03.28. 20:33 |
| T06      | Backend CRUD   	     | Summary list funkció    | Sikeres     | -                               | 2021.03.29. 08:17 |
| T07      | Backend CRUD   	     | Summary getById funkció    | Sikeres     | -                               | 2021.03.29. 08:18 |
| T08      | Backend CRUD   	     | Summary create funkció    | Sikeres     | -                               | 2021.03.29. 08:19 |
| T09      | Backend CRUD   	     | Summary delete funkció    | Sikeres     | -                               | 2021.03.29. 08:20 |
| T10      | Backend CRUD   	     | Summary update funkció    | Sikeres     | -                               | 2021.03.29. 08:21 |
| T11      | Backend CRUD   	     | Raktár list funkció    | Sikeres     | -                               | 2021.03.29. 18:42 |
| T12      | Backend CRUD   	     | Raktár getById funkció    | Sikeres     | -                               | 2021.03.29. 18:43 |
| T13      | Backend CRUD   	     | Raktár create funkció    | Sikeres     | -                               | 2021.03.29. 18:44 |
| T14      | Backend CRUD   	     | Raktár delete funkció    | Sikeres     | -                               | 2021.03.29. 18:45 |
| T15      | Backend CRUD   	     | Raktár update funkció    | Sikeres     | -                               | 2021.03.29. 18:46 |
